{% extends "base.html" %} {% block content %}
<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold">My Expenses</h2>
  <a
    href="{% url 'create_expense' %}"
    class="bg-gray-900  text-white px-4 py-2 rounded hover:bg-gray-800"
    >Add Expense</a
  >
</div>

<form method="get" class="flex flex-wrap gap-4 mb-4">

    <input 
    type="text"
    name="q"
    class="w-full rounded shadow px-4 py-2  border"
    placeholder="Search description"
    value="{{ search_query|default:'' }}"
    >
    <select name="category" class="border px-3 py-2 rounded">
        <option value="">All Categories</option>
        {% for category in categories %}
            <option value="{{category.id}}" 
            {% if selected_category == category.id|stringformat:"s" %} selected {% endif %}
            >{{category.name}}</option>
        {% endfor %}
    </select>

    <select name="month" class="border px-3 py-2 rounded">
        <option value="">Month</option>
        {% for month in months %}
            <option value="{{month}}" 
            {% if selected_category == month|stringformat:"s" %} selected {% endif %}
            >{{month}}</option>
        {% endfor %}
    </select>

    <select name="year" class="border px-3 py-2 rounded">
        <option value="---">Year</option>
        {% for year in years %}
            <option value="{{year}}" 
            {% if selected_year == year|stringformat:"s" %} selected {% endif %}
            >{{year}}</option>
        {% endfor %}
    </select>

    <input
    type="date"
    name="from"
    value="{{ from_date|default_if_none:''}}"
    class="border px-3 py-2 rounded"
    />

    <input
    type="date"
    name="to"
    value="{{ to_date|default_if_none:''}}"
    class="border px-3 py-2 rounded"
    />

    <button type="submit" class="bg-gray-900 text-white px-4 py-2 rounded hover:bg-gray-800">Filter</button>
    <button class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700">
        <a href="{% url 'export_expenses_csv' %}?q={{ search_query|default_if_none:''}}&category={{ selected_category|default_if_none:'' }}&month={{ selected_month|default_if_none:'' }}&year={{ selected_year|default_if_none:''}}&from={{ from_date|default_if_none:'' }}&to={{ to_date|default_if_none:'' }}">Export</a>
    </button>
</form>

<div class="bg-white rounded shadow overflow-x-auto">
    <table class="w-full text-left">
        <thead class="bg-gray-200">
            <th class="p-3">Date</th>
            <th class="p-3">Category</th>
            <th class="p-3">Amount</th>
            <th class="p-3">Action</th>
        </thead>

        <tbody>
            {% for expense in expenses %}
                <tr class="border-b">
                    <td class="p-3">{{ expense.date }}</td>
                    <td class="p-3">{{ expense.category }}</td>
                    <td class="p-3">{{ expense.amount }}</td>
                    <td class="p-3 space-x-2">
                        <a href="{% url 'edit_expense' expense.id %}" class="text-blue-600 hover:underline">Edit</a>
                        <a href="{% url 'delete_expense' expense.id %}" class="text-red-600 hover:underline">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4" class="p-4 text-center text-gray-500">No Expenses yet</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if page_obj.has_other_pages %}
    <div class="flex justify-center mt-6">
        <nav class="inline-flex items-center gap-2">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number}}&q={{ search_query }}&category={{ selected_category }}&month={{ month }}&year={{ year }}&from={{ from_date|default_if_none:'' }}&to={{ to_date|default_if_none:'' }}"
                class="px-3 py-1 rounded hover:bg-gray-100"
                >Prev</a>

            {% endif %}
            <span class="px-3 py-1 text-sm text-gray-600">{{  page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&q={{ search_query|default_if_none:'' }}&category={{ selected_category|default_if_none:'' }}&month={{ selected_month|default_if_none:'' }}&year={{ selected_year|default_if_none:'' }}&from={{ from_date|default_if_none:'' }}&to={{ to_date|default_if_none:'' }}"
                class="px-3 py-1 rounded  hover:bg-gray-100"
                >Next</a>
            {% endif %}
        </nav>
    </div>
{% endif %}

{% endblock %}
